<header>
<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="#" class="btn btn-default"><i class="fas fa-highlighter"></i> hightlighter</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <select id="select-user" class="custom-select">
        <option selected>Choose a user</option>
        <%= options_for_select(@users.collect {|p| [ p.name, p.id ] }) %>
      </select>
    </form>
  </div>
</nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
  <% @pages.each do |page| %>
    <div class="page">
      <h2><%= page.name %></h2>

      <div id="<%= page.id %>" class="text-book">
        <%= page.content.html_safe %>
      </div>
    </div>
  <% end %>
</main>